.calendar-card {
  height: 100%;
  padding: 16px;
}

.calendar-day-name,
.calendar-day-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2px;
  position: relative;
  overflow: hidden; /* Ensure content does not overflow */
}

.calendar-day-name {
  font-weight: bold;
  background-color: #e0e0e0;
  width: 3vw;
  height: 3vw;
}

.calendar-day-cell {
  width: 7vw;
  height: 7vw;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  max-height: 100%; /* Ensure overflow is contained within the cell */
  padding-top: 20px; /* Space at the top for the date label */
}

.calendar-day-label {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1; /* Ensure label is above the client cards */
}

.calendar-day-cell.workday {
  background-color: rgba(204, 93, 189, 0.3);
}

.calendar-day-cell.weekend {
  background-color: rgba(83, 221, 32, 0.3);
}

/* New styles for smaller client cards */
/* Updated styles for client cards */
.calendar-client-card {
  width: calc(
    100% / 3 - 4px
  ); /* Let's make them one-third the width of the cell minus a small margin */
  height: 20px; /* Fixed height */
  margin: 1px;
  padding: 2px;
  background-color: #f4f4f4;
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  display: inline-block; /* To allow side-by-side placement */
  overflow: hidden; /* To prevent content overflow */
}

.calendar-client-name {
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-day-cell.empty-cell {
  background-color: gray;
  opacity: 0.1;
}

.current-day {
  border: 2px solid #000; /* Black border for current day */
}

.current-day .calendar-day-label {
  font-weight: bold; /* Bold text for the day label */
  color: #000; /* Black color for the day label */
}

.calendar-quote-counter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  z-index: 1;
}

.monthly-stats {
  padding: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monthly-stats > div {
  margin-bottom: 5px;
}
