.client-card {
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.client-name,
.client-type,
.client-project-id {
  font-size: 14px;
  margin-bottom: 3px;
}

.highlight-search {
  background-color: yellow;
}
